# Renames for source definition files (src/JS/Temporal/)
# Underscore removal: foo_ -> foo
# Options promotion: foo -> fooWithOptions

# --- Public API renames (applied to .purs files) ---
RENAME add_ add
RENAME add addWithOptions
RENAME from_ from
RENAME from fromWithOptions
RENAME fromString_ fromString
RENAME fromString fromStringWithOptions
RENAME since_ since
RENAME since sinceWithOptions
RENAME subtract_ subtract
RENAME subtract subtractWithOptions
RENAME toString_ toString
RENAME toString toStringWithOptions
RENAME until_ until
RENAME until untilWithOptions
RENAME with_ with
RENAME with withWithOptions

# --- Example function renames (in doc comments) ---
RENAME exampleFrom_ exampleFrom
RENAME exampleFromString_ exampleFromString

# --- Source files that have BOTH foo_ and foo (options) variants ---
FILE ../../src/JS/Temporal/PlainDate.purs
FILE ../../src/JS/Temporal/PlainDateTime.purs
FILE ../../src/JS/Temporal/PlainMonthDay.purs
FILE ../../src/JS/Temporal/PlainTime.purs
FILE ../../src/JS/Temporal/PlainYearMonth.purs
FILE ../../src/JS/Temporal/ZonedDateTime.purs
