# Consumer files: only underscore removal (safe globally)
# Consumers use qualified names, so removing _ is unambiguous

RENAME add_ add
RENAME from_ from
RENAME fromString_ fromString
RENAME since_ since
RENAME subtract_ subtract
RENAME toString_ toString
RENAME toZonedDateTime_ toZonedDateTime
RENAME until_ until
RENAME with_ with

# Derived example function names
RENAME exampleFrom_ exampleFrom
RENAME exampleFromString_ exampleFromString
RENAME exampleFromEpochNanoseconds_ exampleFromEpochNanoseconds

# Source files with only comment/doc references to renamed functions
FILE ../../src/JS/Temporal/Duration.purs

# Test files
FILE ../../test/Test/Main.purs

# Example doc files
FILE ../../examples/src/Examples/Docs/Duration.purs
FILE ../../examples/src/Examples/Docs/Instant.purs
FILE ../../examples/src/Examples/Docs/Main.purs
FILE ../../examples/src/Examples/Docs/PlainDate.purs
FILE ../../examples/src/Examples/Docs/PlainDateTime.purs
FILE ../../examples/src/Examples/Docs/PlainMonthDay.purs
FILE ../../examples/src/Examples/Docs/PlainTime.purs
FILE ../../examples/src/Examples/Docs/PlainYearMonth.purs
FILE ../../examples/src/Examples/Docs/ZonedDateTime.purs

# Cookbook examples
FILE ../../examples/src/Examples/Cookbook/BirthdayInYear.purs
FILE ../../examples/src/Examples/Cookbook/BridgePublicHolidays.purs
FILE ../../examples/src/Examples/Cookbook/CurrentDateTime.purs
FILE ../../examples/src/Examples/Cookbook/DailyOccurrence.purs
FILE ../../examples/src/Examples/Cookbook/DateTimeInterop.purs
FILE ../../examples/src/Examples/Cookbook/DaysUntilFutureDate.purs
FILE ../../examples/src/Examples/Cookbook/FlightDuration.purs
FILE ../../examples/src/Examples/Cookbook/GetWeeklyDaysInMonth.purs
FILE ../../examples/src/Examples/Cookbook/ManipulatingDayOfMonth.purs
FILE ../../examples/src/Examples/Cookbook/NextOffsetTransition.purs
FILE ../../examples/src/Examples/Cookbook/NextWeeklyOccurrence.purs
FILE ../../examples/src/Examples/Cookbook/NoonOnDate.purs
FILE ../../examples/src/Examples/Cookbook/NthWeekdayOfMonth.purs
FILE ../../examples/src/Examples/Cookbook/PreservingExactTime.purs
FILE ../../examples/src/Examples/Cookbook/PushBackLaunchDate.purs
FILE ../../examples/src/Examples/Cookbook/RecordReminder.purs
FILE ../../examples/src/Examples/Cookbook/RoundDateToMonth.purs
FILE ../../examples/src/Examples/Cookbook/RoundTimeDown.purs
FILE ../../examples/src/Examples/Cookbook/SameDateInAnotherMonth.purs
FILE ../../examples/src/Examples/Cookbook/Serialization.purs
FILE ../../examples/src/Examples/Cookbook/SortPlainDateTime.purs
