RENAME _fromRecordNoOpts _fromRecord
RENAME _fromRecord _fromRecordWithOptions
RENAME _fromStringNoOpts _fromString
RENAME _fromString _fromStringWithOptions
RENAME _sinceNoOpts _since
RENAME _since _sinceWithOptions
RENAME _untilNoOpts _until
RENAME _until _untilWithOptions
RENAME _withNoOpts _with
RENAME _with _withWithOptions

FILE ../../src/JS/Temporal/PlainTime.purs
