# Fix internal FFI refs in full-rename modules
RENAME _addNoOpts _add
RENAME _add _addWithOptions
RENAME _fromRecordNoOpts _fromRecord
RENAME _fromRecord _fromRecordWithOptions
RENAME _fromStringNoOpts _fromString
RENAME _fromString _fromStringWithOptions
RENAME _sinceNoOpts _since
RENAME _since _sinceWithOptions
RENAME _subtractNoOpts _subtract
RENAME _subtract _subtractWithOptions
RENAME _untilNoOpts _until
RENAME _until _untilWithOptions
RENAME _withNoOpts _with
RENAME _with _withWithOptions
RENAME _toZonedDateTimeNoOpts _toZonedDateTime
RENAME _toZonedDateTime _toZonedDateTimeWithPlainTime

FILE ../../src/JS/Temporal/PlainDate.purs
FILE ../../src/JS/Temporal/PlainDateTime.purs
FILE ../../src/JS/Temporal/PlainYearMonth.purs
FILE ../../src/JS/Temporal/ZonedDateTime.purs
