# Internal modules: toString_ -> toString

RENAME toString_ toString

FILE ../../src/JS/Temporal/Duration/Internal.purs
FILE ../../src/JS/Temporal/Duration/Internal.js
FILE ../../src/JS/Temporal/Instant/Internal.purs
FILE ../../src/JS/Temporal/Instant/Internal.js
FILE ../../src/JS/Temporal/PlainDate/Internal.purs
FILE ../../src/JS/Temporal/PlainDate/Internal.js
FILE ../../src/JS/Temporal/PlainDateTime/Internal.purs
FILE ../../src/JS/Temporal/PlainDateTime/Internal.js
FILE ../../src/JS/Temporal/PlainMonthDay/Internal.purs
FILE ../../src/JS/Temporal/PlainMonthDay/Internal.js
FILE ../../src/JS/Temporal/PlainTime/Internal.purs
FILE ../../src/JS/Temporal/PlainTime/Internal.js
FILE ../../src/JS/Temporal/PlainYearMonth/Internal.purs
FILE ../../src/JS/Temporal/PlainYearMonth/Internal.js
FILE ../../src/JS/Temporal/ZonedDateTime/Internal.purs
FILE ../../src/JS/Temporal/ZonedDateTime/Internal.js
