# Renames for PlainDateTime

RENAME add_ add
RENAME add addWithOptions
RENAME from_ from
RENAME from fromWithOptions
RENAME fromString_ fromString
RENAME fromString fromStringWithOptions
RENAME since_ since
RENAME since sinceWithOptions
RENAME subtract_ subtract
RENAME subtract subtractWithOptions
RENAME toString_ toString
RENAME toString toStringWithOptions
RENAME until_ until
RENAME until untilWithOptions
RENAME with_ with
RENAME with withWithOptions

FILE ../../src/JS/Temporal/PlainDateTime.purs
