# Renames for PlainTime

RENAME from_ from
RENAME from fromWithOptions
RENAME fromString_ fromString
RENAME fromString fromStringWithOptions
RENAME since_ since
RENAME since sinceWithOptions
RENAME toString_ toString
RENAME toString toStringWithOptions
RENAME until_ until
RENAME until untilWithOptions
RENAME with_ with
RENAME with withWithOptions

FILE ../../src/JS/Temporal/PlainTime.purs
