# Renames for PlainMonthDay

RENAME from_ from
RENAME from fromWithOptions
RENAME fromString_ fromString
RENAME fromString fromStringWithOptions
RENAME toString_ toString
RENAME toString toStringWithOptions
RENAME with_ with
RENAME with withWithOptions

FILE ../../src/JS/Temporal/PlainMonthDay.purs
